<div class="container mt-3">

  <ng-template #errors>
    <div class="text-danger">
      {{ErrorMessage}}
    </div>
  </ng-template>

  <div class="card" *ngIf="products; else errors ">
    <div class="card-header">Products </div>
    <div class="card-body">
      <form [formGroup]="searchModel">
        <div class="input-group">
        <label class="input-group-text">Keyword :</label>
        <input type="text" class="form-control" formControlName = "keyword" (input)="HandleSearch()">
        </div>
       
      </form>
     <table class="table">
      <thead>
        <th  scope="col">ID</th>
        <th  scope="col">Label</th>
        <th  scope="col">Price</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td  scope="row">{{product.id }}</td>
          <td>{{product.label }}</td>
          <td>{{product.price }}</td>
          <td>
            <i (click)="PromotProduct(product)" [ngClass]="product.isPromotion ? 'bi bi-heart-fill text-danger' : 'bi bi-heart'"></i>
          </td>
          <td>
            <button (click)="DeleteProduct(product)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
     </table>
    </div>
    <ul class="nav nav-pills">
      <li  *ngFor="let item of [].constructor(this.totalPages); let i = index">
        <a (click)="GotoPage(i)" [ngClass]= "i == currentPage ? 'btn btn-info' : 'btn btn-outline-info'" class="btn  ms-1 mt-1" >{{i}}</a>
      </li>
    </ul>
  </div>
</div>